[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
reflex = "*"
pyjwt = "*"
passlib = "*"
datetime = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
